<div class="flex items-center">
  <div class="mr-4">
    <span>{{ user.getName() }}</span>
  </div>
</div> -->
<div class="relative">
  <button
    (click)="isOpen = !isOpen"
    class="relative z-0 block h-8 w-8 rounded-full overflow-hidden border-2 border-white-500 focus:outline-none focus:border-white"
  >
    {{ user.getName().charAt(0) }}
    <!-- <img class="h-full w-full object-cover" :src="img" alt="Profile image" /> -->
  </button>
  <button
    *ngIf="isOpen"
    (click)="isOpen = false"
    tabindex="-1"
    class="fixed inset-0 h-full z-10 w-full bg-transparent opacity-10 cursor-default"
  ></button>
  <div
    *ngIf="isOpen"
    class="absolute right-0 z-20 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl"
  >
    <a
      class="block px-4 py-2 text-textDarkest hover:bg-gray-100"
      (click)="goto()"
      >Account settings</a
    >
    <a
      class="block px-4 py-2 text-textDarkest hover:bg-gray-100"
      (click)="logout()"
      >Sign out</a
    >
      <!-- <a
        class="block px-4 py-2 text-textDarkest
      hover:bg-gray-100"
        (click)="goto()"
        >Account settings</a
      > -->
      <a
        class="block px-4 py-2 text-textDarkest
      hover:bg-gray-100"
        (click)="logout()"
        >Sign out</a
      >
    </div>
  </div>
  
</div>
