<div class="flex justify-center">
  <div>
    <div class="dropdown relative">
      <button
        class="dropdown-toggle px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center whitespace-nowrap"
        type="button"
        id="dropdownMenuButton1d"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="logout()"
      >
        <p>Logout</p>
      </button>
    </div>
  </div>
</div>
