<!-- <form [formGroup]="signupForm" (submit)="signup()">
  <input name="name"  formControlName="name" />
  <input name="email"  formControlName="email" />
  <div *ngIf="email.invalid && (email.dirty || email.touched)">
    <p class="help is-danger" *ngIf="email.hasError('required')">
      Email is invalid.
    </p>
    <p *ngIf="email.hasError('exists')">
      Email already exists.
    </p>
  </div>
  <input type="password" name="password" formControlName="password" />
  <button type="submit" [disabled]="!signupForm.valid">Signup</button>
</form> -->

<div class="w-full bg-white">
  <div class="w-full flex flex-row h-full">
    <div class="w-full">
      <form [formGroup]="signupForm" (submit)="handleSubmit()"
        class="flex items-center justify-center px-8 h-screen">
        <div class="modal-dialog">
          <div class="modal-content p-4">
            <div class="modal-body">
              <div class="block">
                <h4 class="m-auto text-center mb-1 font-bold text-lg">Login</h4>
              </div>

              <div class="formField">
                  <label class="formFieldLabel" htmlFor="username">Username</label>
                  <div class="relative">
                      <Input name="username" />
                  </div>
                  <div class="formFieldTip"></div>
              </div>

              <div class="formField">
                  <label class="formFieldLabel" htmlFor="username">Password</label>
                  <div class="relative">
                      <Input name="password" type="password" />
                  </div>
                  <div class="formFieldTip"></div>
              </div>
            </div>

            <div class="modal-footer mt-4">
              <div class="text-center">
                <Button class="w-full" type="submit" [disabled]="!signupForm.valid">Login</Button>
              </div>
              <!-- <div class="mt-4">
                <Button class="w-full mb-4" variant="empty" onClick={() => navigate("/add-buyer")}>Register as Buyer</Button>
                <Button class="w-full" variant="empty" onClick={() => navigate("/add-seller")}>Register as Seller</Button>
              </div> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
