.primary,
.success,
.danger,
.info,
.warning {
  color: white;
  font-weight: 500;
  background: var(--bg-variant);
}

.secondary {
  background-color: rgb(190 195 199);
  color: white;
}
.empty {
  background: white;
  outline: none;
}

.big {
  height: 2.5rem !important;
}

.small {
  width: 6rem;
}
