<div>
  <div class="flex mb-4">
    <div class="w-full bg-gray-500 h-12"><app-navbar></app-navbar></div>
  </div>
  <div class="flex">
    <div class="w-1/6 bg-gray-400 h-12"></div>
    <div class="w-1/6 bg-gray-500 h-12"></div>
    <div class="w-1/6 bg-gray-400 h-12"></div>
    <div class="w-1/6 bg-gray-500 h-12"></div>
    <div class="w-1/6 bg-gray-400 h-12"></div>
  </div>
  <div class="flex mb-4">
    <div class="w-1/2 bg-gray-400 h-12">
      <app-roomlist style="float: left"></app-roomlist>
    </div>

    <div class="w-1/2 bg-gray-500 h-12">
      <app-roomdetail style="float: right"></app-roomdetail>
    </div>
  </div>
</div>
